
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.myPoste{
    background: black;
    height: 200px;
    width: 40px;
} 

.myFrame{
    background: black;
    /* height: 300px; */
    width: 150px;
    border-radius: 15px;
    display: grid;
    align-content: center;
   

} 

.light{
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 34px;
    border-top: 8px solid rgb(45,45,45);
}
 
.shadowIn{
    box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
}
